body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    
    background-image: url('https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/t/n/TNC_PC2022_63bed9c5f30bfc303144eb74f072df40-original_JPG.Jpg?crop=0%2C593%2C2500%2C1312&wid=1200&hei=630&scl=2.0833333333333335');
}


.bounce {
    display: inline-block;
    animation: bounce 1s infinite alternate
}
@keyframes bounce {
    to{
        transform: translateY(-20px);
    }
}       


h1 {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
